.title {
  border-bottom: 1px solid #ebebeb;
}
.titleProduct {
  font-weight: 600;
  color: #818181;
  font-size: 15px;
}
.linkOrder {
  color: #88ceb3;
  cursor: pointer;
}
.linkOrder:hover {
  text-decoration: underline;
}
.containerModalDetailOrder {
  margin-top: 3rem;
  padding: 0 1rem;
}
.containerProducts {
  flex: 2;
  margin: 0 1rem;
}
.cardProductOrder {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  margin: 1rem 0;
}
.imgProductOrder {
  flex: 1;
}
.priceAndQuantity {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.imgProductOrder img {
  width: 80px;
  height: auto;
  object-fit: cover;
}
.containerModalDetailOrder {
  display: flex;
  justify-content: space-between;
}
.containerInformation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  max-height: 100%;
}
.priceAndQuantity h4 {
  color: #2c2c2c;
  margin: 0;
}
.priceAndQuantity span {
  color: #505050;
  font-size: 14px;
}
.informationSidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 10px;
}
.informationSidebar h4 {
  color: #5e5e5e;
  font-size: 1rem;
}
.informationSidebar span {
  color: #5e5e5e;
  font-size: 1rem;
}
.informationSidebar:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 10px;
  border-bottom: 0;
  margin-top: 2rem;
}
.informationSidebar:last-child span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #88ceb3;
}
.informationSidebar h4 {
  margin: 0;
}
.containerBtnsClose {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.containerBtnsClose button {
  background-color: #88ceb3;
  border: 0;
  outline: none;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
.containerBtnsClose button:last-child {
  background-color: transparent;
  border: 1px solid #88ceb3;
  outline: none;
  color: #88ceb3;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
.containerMsn {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  margin: 0 2rem;
}
.estatusPending {
  background-color: #ffd79d;
  padding: 2px 10px;

  border-radius: 12px;
}
.statusOrder {
  background-color: #ffea8a;
  padding: 2px 10px;
  border-radius: 12px;
}
.totalTablet {
  font-weight: bold;
  color: #2c2c2c;
}
.containerInformation h3,
.containerProducts h3 {
  font-size: 18px;
  font-weight: bold;
}
.buttonDelete {
  background-color: rgba(255, 43, 43, 0.397);
  border: 0;
  border-radius: 6px;
  width: 120px;
  color: red;
  height: 40px;
  transition: all 0.3s ease;
}
.buttonDelete:hover {
  background-color: rgba(255, 0, 0, 0.397);
  border: 0;
  border-radius: 6px;
  width: 120px;
  color: rgb(255, 255, 255);
  height: 40px;
}
@media only screen and (max-width: 1024px) {
  .userName {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    display: none;
  }
  .userName {
    flex-direction: column;
  }
  .containerModalDetailOrder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    max-height: 80%;
  }
}
