/* HEADER */
.header {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navPrincipal {
  display: flex;
  align-items: center;
}

.logoImage {
  height: auto;
  width: 100%;
  max-width: 160px;
}
.inputSearch {
  width: 362px;
  height: 40px;
  margin: 0 20px 0 35.4px;
  padding: 9px 13.6px 8px 13px;
  border-radius: 7px;
  background-color: #f8f8f8;
  outline: none;
  border: 0;
}
.inputSearch::placeholder {
  opacity: 0.87;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #969595;
}

.iconSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputSearchProducts {
  position: relative;
}
.selectNav {
  width: 173px;
  height: 40px;
  padding: 8px 7.8px 7.2px 9.8px;
  border-radius: 7px;
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 1rem;
}
.contCart svg {
  cursor: pointer;
}
.buttonLogin button {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background-color: #314790;
  border: 0;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}
.buttonLogin button:hover {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background-color: white;
  border: 0;
  color: #314790;
  margin: 0 1rem;
  cursor: pointer;
  border: 1px solid #314790;
  transition: all 0.3s ease;
}
.containerCollection {
  border-bottom: solid 1px #f8f8f8;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  max-width: 1920px;
  padding: 0 1.5rem;
}
.containerCollection ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.containerCollection ul li {
  text-decoration: none;
  list-style: none;
}
.containerCollection ul li a {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 14px;
  color: #191919;
}
.containerCollection ul li a:hover {
  background-color: #314790 !important;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.containerCollection::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerCollection::-webkit-scrollbar:vertical {
  width: 10px;
  padding: 0 1rem;
}

.containerCollection::-webkit-scrollbar-button:increment,
.containerCollection::-webkit-scrollbar-button {
  display: none;
}

.containerCollection::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.containerCollection::-webkit-scrollbar-track {
  border-radius: 10px;
}
