/* HEADER */
.header {
  background-color: #ffffff;
  padding: 1rem 0;
  flex-direction: row;
  width: 100%;
}
.navPrincipal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

.logoImage {
  height: auto;
  min-width: 150px;
  max-width: 200px;
  cursor: pointer;
  object-fit: contain;
}
.inputSearch {
  width: 100%;
  height: 40px;
  padding: 9px 13.6px 8px 13px;
  border-radius: 7px;
  background-color: #f8f8f8;
  outline: none;
  border: 0;
}
.inputSearch::placeholder {
  opacity: 0.87;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #969595;
}

.iconSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputSearchProducts {
  position: relative;
}
.selectNav {
  min-width: 173px;
  height: 40px;
  padding: 8px 7.8px 7.2px 9.8px;
  border-radius: 7px;
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 1rem;
}
.servicesInput {
  width: 173px;
  height: 40px;
  padding: 8px 7.8px 7.2px 9.8px;
  border-radius: 7px;
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 1rem;
}
.contCart {
  position: relative;
}
.contCart svg {
  cursor: pointer;
}
.badge {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: -8px;
  right: -12px;
}
.buttonLogin button {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background: rgb(198, 119, 119);
  background: linear-gradient(
    90deg,
    rgba(198, 119, 119, 1) 0%,
    rgba(128, 136, 193, 1) 48%,
    rgba(128, 113, 171, 1) 100%
  );
  border: 0;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}
.buttonLogin button:hover {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background-color: white;
  border: 0;
  color: #304890;
  margin: 0 1rem;
  cursor: pointer;
  border: 1px solid #304890;
  transition: all 0.3s ease;
}
.containerCollection {
  border-bottom: solid 1px #f8f8f8;
}
.containerCollection ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 0.2rem 0;
}
.containerCollection ul li {
  text-decoration: none;
  list-style: none;
}
.containerCollection ul li a {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 18px;
  color: #191919;
}
.containerCollection ul li a:hover {
  background-color: #304890 !important;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.containerCollection::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerCollection::-webkit-scrollbar:vertical {
  width: 10px;
  padding: 0 1rem;
}

.containerCollection::-webkit-scrollbar-button:increment,
.containerCollection::-webkit-scrollbar-button {
  display: none;
}

.containerCollection::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.containerCollection::-webkit-scrollbar-track {
  border-radius: 10px;
}
.containerNav {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconBar {
  display: none;
}
.btnSearchResponsive {
  display: none;
}
.selectContent {
  position: absolute;
  background-color: white;
  width: 173px;
  right: 0;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.selectServices {
  position: relative;
}
.selectContent a {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.selectContent a:hover {
  color: #304890;
  text-decoration: underline;
}
.selectAddress {
  position: relative;
}
.showSelectAddress {
  background-color: white;
  position: absolute;
  min-width: 175px;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 5px;
  z-index: 99;
}
.separator {
  border-top: 1px solid #74747418;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.btnAdd button {
  width: 100%;
  height: 40px;
  background-color: #304890;
  border: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnAdd button:hover {
  background-color: white;
  border: 1px solid #304890;
  color: #304890;
}
.addressSave a {
  text-decoration: underline;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.addressSave a:hover {
  color: #304890;
}
.containerSearch {
  position: relative;
  margin: 1rem;
}
.contResult {
  background-color: white;
  max-height: 300px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  overflow: auto;
}
.contResult::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contResult::-webkit-scrollbar:vertical {
  width: 10px;
  padding: 0 1rem;
}

.contResult::-webkit-scrollbar-button:increment,
.contResult::-webkit-scrollbar-button {
  display: none;
}

.contResult::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contResult::-webkit-scrollbar-track {
  border-radius: 10px;
}
.productSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #969595;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productSearch:hover {
  background-color: #314790;
  color: white !important;
  border-radius: 5px;
}
.productSearch:hover .titleSearch {
  color: white !important;
}
.productSearch:last-child {
  border-bottom: 0px solid #969595;
}
.contImgSearch {
  flex: 1;
  max-width: 100%;
}
.informationSearch {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contImgSearch img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.5rem;
}
.titleSearch {
  color: #314790;
}
.priceSearch {
  font-size: 0.8rem;
}
.iconClose {
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.iconClose svg {
  transform: scale(0.8);
}
.modalSearch {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: white;
}
.modalInputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalInputSearch input {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 7px;
  height: 50px;
  width: 90%;
  padding: 0 1rem;
  outline: none;
}
.iconCloseModalSearch {
  position: absolute;
  top: 20px;
  right: 20px;
}
.productResponsive {
  display: flex;
  margin: 0 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  align-items: center;
}
.productResponsive:last-child {
  border-bottom: 0;
}
.productResponsive img {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}
.informationResponsiveProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: auto;
}
.smallImg {
  flex: 1;
}
.buttonLogin span {
  width: 136px;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputAutocomplete {
  border: 0;
  border-bottom: 2px solid #304890;
  width: 384px;
  padding: 0 1rem;
  height: 40px;
  outline: none;
  font-size: 12px;
}
.inputAutocomplete::placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.containerAddAddress {
  display: flex;
  height: 100%;
}
.contAutocomplete {
  flex: 1;
  flex-direction: column;
  align-self: center;
  padding-left: 2rem;
}
.containerMaps {
  flex: 1;
}
.title {
  width: 390px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: normal;
  color: #304890;
}
.badgeInformation {
  width: 384px;
  padding: 10px 21px 9px;
  border-radius: 6px;
  background-color: #eaeaf4;
  margin-top: 20px;
}
.badgeInformation span {
  width: 342px;
  height: 35px;
  font-family: Poppins;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #304890;
}
.disabledButton {
  width: 384px;
  height: 49px;
  padding: 13px 161px 12px 136px;
  border-radius: 7px;
  background-color: rgba(206, 206, 206, 0.51);
  color: #ffffff;
  font-size: 17px;
  outline: none;
  border: 0;
  margin-top: 40px;
  cursor: pointer;
}
.btnCompleteButton {
  width: 384px;
  height: 49px;
  padding: 13px 161px 12px 136px;
  border-radius: 7px;
  background-color: #304890;
  color: #ffffff;
  font-size: 17px;
  outline: none;
  border: 0;
  margin-top: 40px;
  cursor: pointer;
}
.iconAddress {
  display: none;
}
.labelSearch {
  font-size: 18px;
  color: #191919;
  text-align: center;
}
.labelSearchR {
  font-size: 18px;
  margin-top: 40px;
  color: #191919;
  margin-left: 20px;
  margin-bottom: 20px;
}
.contentRightNav {
  display: flex;
  align-items: center;
}
/* RESPONSIVE DESIGN */
/* DESKTOP BIG */
@media only screen and (min-width: 1650px) {
  .containerSearch {
    position: relative;
    margin: 1rem;
    margin: 1rem 20%;
  }
}
/* TABLET */
@media only screen and (max-width: 1024px) {
  .selectNav {
    min-width: 110px;
    height: 40px;
    padding: 8px 7.8px 7.2px 9.8px;
    border-radius: 7px;
    border: solid 1px #f4f4f4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 1rem;
  }
  .header {
    max-width: 100%;
  }
  .inputSearchProducts input {
    max-width: 100%;
  }
  .logoImage {
    width: 300px;
    height: auto;
  }
  .servicesInput {
    display: none;
  }
  .navPrincipal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 10px;
  }
  .buttonLogin {
    display: none;
  }
  .inputSearchProducts {
    display: block;
  }
  .btnSearchResponsive {
    display: none;
  }
  .btnSearchResponsive button {
    background-color: transparent;
    border: 0;
  }
  .containerCollection {
    max-width: 100%;
    overflow: auto;
  }
  .containerCollection ul {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem 0;
  }
  .iconBar {
    display: block;
    margin-left: 0.8rem;
  }
  .containerCollection ul li a {
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 18px !important;
    color: #191919;
    width: 100%;
    display: block;
    white-space: nowrap;
  }
  .shadow {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      rgb(255, 255, 255)
    );
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .contCart {
    margin: 0 0.5rem;
  }
  .inputSearch {
    padding-right: 45px;
  }
}
.defaultAddress {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  display: block;
}

/* PHONE */
@media only screen and (max-width: 767px) {
  .title {
    margin-top: 40px !important;
  }
  .defaultAddress {
    max-width: 60px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
  .header {
    max-width: 100%;
    padding-right: 1rem;
  }
  .logoImage {
    height: auto;
    min-width: 150px;
    max-width: 200px;
    object-fit: contain;
  }

  .servicesInput {
    display: none;
  }
  .navPrincipal {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .buttonLogin {
    display: none;
  }
  .btnSearchResponsive {
    display: block;
  }
  .btnSearchResponsive button {
    background-color: transparent;
    border: 0;
  }
  .containerCollection {
    max-width: 100%;
    overflow: auto;
  }
  .containerCollection ul {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem 0;
  }
  .iconBar {
    display: block;
    margin-left: 0.8rem;
  }
  .containerCollection ul li a {
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 18px;
    color: #191919;
    width: 100%;
    display: block;
    white-space: nowrap;
  }
  .shadow {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      rgb(255, 255, 255)
    );
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .contCart {
    margin: 0 0.5rem;
  }
  .containerAddAddress {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .contAutocomplete {
    padding: 1rem;
  }
  .header {
    justify-content: space-between;
    padding-left: 20px;
    width: 100%;
  }
  .selectNav {
    display: none;
  }
  .iconAddress {
    display: block;
  }
  .iconAddress button {
    border: 0;
    background-color: transparent;
  }
  .labelSearch {
    display: none;
  }
  .contResult {
    background-color: white;
    width: 100%;
    right: 0;
    left: 0;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
    overflow: auto;
    z-index: 99;
  }
  .containerSearch {
    width: 90%;
  }
  .iconClose {
    position: absolute;
    right: 4px;
    top: 6px;
    background-color: #f8f8f8;
    cursor: pointer;
  }
}
