/* HEADER */
.header {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navPrincipal {
  display: flex;
  align-items: center;
  max-width: 1350px;
}

.logoImage {
  height: auto;
  width: 100%;
  max-width: 160px;
  cursor: pointer;
}
.inputSearch {
  width: 362px;
  height: 40px;
  margin: 0 20px 0 35.4px;
  padding: 9px 13.6px 8px 13px;
  border-radius: 7px;
  background-color: #f8f8f8;
  outline: none;
  border: 0;
}
.inputSearch::placeholder {
  opacity: 0.87;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #969595;
}

.iconSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputSearchProducts {
  position: relative;
}
.selectNav {
  width: 173px;
  height: 40px;
  padding: 8px 7.8px 7.2px 9.8px;
  border-radius: 7px;
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 1rem;
}
.servicesInput {
  width: 173px;
  height: 40px;
  padding: 8px 7.8px 7.2px 9.8px;
  border-radius: 7px;
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 1rem;
}
.contCart {
  position: relative;
}
.contCart svg {
  cursor: pointer;
}
.badge {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: -8px;
  right: -12px;
}
.buttonLogin button {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background-color: #314790;
  border: 0;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}
.buttonLogin button:hover {
  width: 136px;
  height: 40px;
  padding: 9px 15px 8px;
  border-radius: 6px;
  background-color: white;
  border: 0;
  color: #314790;
  margin: 0 1rem;
  cursor: pointer;
  border: 1px solid #314790;
  transition: all 0.3s ease;
}
.containerCollection {
  border-bottom: solid 1px #f8f8f8;
}
.containerCollection ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}
.containerCollection ul li {
  text-decoration: none;
  list-style: none;
}
.containerCollection ul li a {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 14px;
  color: #191919;
}
.containerCollection ul li a:hover {
  background-color: #314790 !important;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.containerCollection::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerCollection::-webkit-scrollbar:vertical {
  width: 10px;
  padding: 0 1rem;
}

.containerCollection::-webkit-scrollbar-button:increment,
.containerCollection::-webkit-scrollbar-button {
  display: none;
}

.containerCollection::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.containerCollection::-webkit-scrollbar-track {
  border-radius: 10px;
}
.containerNav {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
}
.iconBar {
  display: none;
}
.btnSearchResponsive {
  display: none;
}
.selectContent {
  position: absolute;
  background-color: white;
  width: 173px;
  right: 0;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.selectServices {
  position: relative;
}
.selectContent a {
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.selectContent a:hover {
  color: #314790;
  text-decoration: underline;
}
.selectAddress {
  position: relative;
}
.showSelectAddress {
  background-color: white;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 5px;
}
.separator {
  border-top: 1px solid #74747418;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.btnAdd button {
  width: 100%;
  height: 40px;
  background-color: #314790;
  border: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnAdd button:hover {
  background-color: white;
  border: 1px solid #314790;
  color: #314790;
}
.addressSave a {
  text-decoration: underline;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.addressSave a:hover {
  color: #314790;
}
.containerSearch {
  position: relative;
}
.contResult {
  background-color: white;
  max-height: 300px;
  width: 85%;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  overflow: auto;
}
.contResult::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contResult::-webkit-scrollbar:vertical {
  width: 10px;
  padding: 0 1rem;
}

.contResult::-webkit-scrollbar-button:increment,
.contResult::-webkit-scrollbar-button {
  display: none;
}

.contResult::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contResult::-webkit-scrollbar-track {
  border-radius: 10px;
}
.productSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #969595;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productSearch:hover {
  background-color: #314790;
  color: white !important;
  border-radius: 5px;
}
.productSearch:hover .titleSearch {
  color: white !important;
}
.productSearch:last-child {
  border-bottom: 0px solid #969595;
}
.contImgSearch {
  flex: 1;
  max-width: 100%;
}
.informationSearch {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contImgSearch img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.5rem;
}
.titleSearch {
  color: #314790;
}
.priceSearch {
  font-size: 0.8rem;
}
.iconClose {
  position: absolute;
  right: 35px;
  top: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.iconClose svg {
  transform: scale(0.8);
}
.modalSearch {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: white;
}
.modalInputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.modalInputSearch input {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 7px;
  height: 50px;
  width: 90%;
  padding: 0 1rem;
  outline: none;
}
.iconCloseModalSearch {
  position: absolute;
  top: 20px;
  right: 20px;
}
.productResponsive {
  display: flex;
  margin: 0 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  align-items: center;
}
.productResponsive:last-child {
  border-bottom: 0;
}
.productResponsive img {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}
.informationResponsiveProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: auto;
}
.smallImg {
  flex: 1;
}
.buttonLogin span {
  width: 136px;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* RESPONSIVE DESIGN */
/* TABLET */
@media only screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
  }
  .inputSearchProducts input {
    max-width: 250px;
  }
  .logoImage {
    width: 300px;
  }
  .servicesInput {
    display: none;
  }
  .navPrincipal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 10px;
  }
  .buttonLogin {
    display: none;
  }
  .inputSearchProducts {
    display: block;
  }
  .btnSearchResponsive {
    display: none;
  }
  .btnSearchResponsive button {
    background-color: transparent;
    border: 0;
  }
  .containerCollection {
    max-width: 100%;
    overflow: auto;
  }
  .containerCollection ul {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem 0;
  }
  .iconBar {
    display: block;
    margin-left: 0.8rem;
  }
  .containerCollection ul li a {
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 14px;
    color: #191919;
    width: 100%;
    display: block;
    white-space: nowrap;
  }
  .shadow {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      rgb(255, 255, 255)
    );
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .contCart {
    margin: 0 0.5rem;
  }
  .inputSearch {
    padding-right: 45px;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  .header {
    max-width: 100%;
  }
  .logoImage {
    max-width: 100%;
  }
  .inputSearchProducts {
    display: none;
  }
  .servicesInput {
    display: none;
  }
  .navPrincipal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 10px;
  }
  .buttonLogin {
    display: none;
  }
  .btnSearchResponsive {
    display: block;
  }
  .btnSearchResponsive button {
    background-color: transparent;
    border: 0;
  }
  .containerCollection {
    max-width: 100%;
    overflow: auto;
  }
  .containerCollection ul {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem 0;
  }
  .iconBar {
    display: block;
    margin-left: 0.8rem;
  }
  .containerCollection ul li a {
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 14px;
    color: #191919;
    width: 100%;
    display: block;
    white-space: nowrap;
  }
  .shadow {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      rgb(255, 255, 255)
    );
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  .contCart {
    margin: 0 0.5rem;
  }
}
