.footerPrincipal {
  background: linear-gradient(
    174deg,
    rgba(154, 193, 178, 1) 0%,
    rgba(81, 156, 172, 1) 70%,
    rgba(81, 156, 172, 1) 100%
  );
  width: 100%;
  margin-top: 6rem;
  color: white;
}
.containerLogo {
  margin-bottom: 2rem;
}
.containerLogo img {
  width: 184px;
  height: auto;
  object-fit: contain;
}
.containerFooter {
  margin-bottom: 0;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col1 ul li a:hover,
.col2 ul li a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
.col1 ul li a,
.col2 ul li a {
  font-size: 12px;
}
.containerBody {
  display: flex;
}
.col1 {
  width: 300px;
}
.col2 {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.col3 {
  width: 100%;
}

.col1 h3 {
  margin: 0;
  font-size: 22px;
}
.col2 h3 {
  margin: 0;
  font-size: 22px;
}
.col1 ul li {
  margin-left: -2rem !important;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.col2 ul li {
  margin-left: -2rem !important;
}

.col3 h3 {
  margin: 0;
  font-size: 22px;
}
.form {
  margin-top: 1.5rem;
}
.form input {
  background-color: white;
  padding: 10px 18px;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin-right: 1rem;
  width: 100%;
  max-width: 300px;
}
.form button {
  background-color: white;
  padding: 10px 18px;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin-right: 1rem;
  max-width: 300px;
  color: black;
  cursor: pointer;
}
.containerUl {
  display: flex;
}
.copyright {
  padding-top: 1rem;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 1rem;
}
@media only screen and (min-width: 1440px) {
  .containerFooter {
    max-width: 100%;
  }
  .form {
    display: block;
  }
}
/* RESPONSIVE */
/* TABLET */
@media only screen and (max-width: 1024px) {
  .col3 {
    margin: 0;
  }
}

/* PHONE */
@media only screen and (max-width: 768px) {
  .containerBody {
    flex-direction: column;
  }
  .containerFooter {
    padding: 2rem;
    max-width: 100%;
  }

  .col1 {
    width: 200px;
  }
  .form {
    align-items: center;
    justify-content: center;
  }
  .form input {
    background-color: white;
    padding: 10px 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-right: 1rem;
    max-width: 200px;
  }
}
