.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  height: 150px;
  width: 250px;
  padding: 1rem;
  border-radius: 10px;
}
