.containerBanner {
  display: flex;
  justify-content: center;
}
.banner {
  background-image: url("/img/4.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding-top: 1rem;
  border-radius: 9px;
  height: 344px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.imgBanner {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.imgBanner img {
  object-fit: cover;
  width: 600px;
  height: auto;
}
.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information h2 {
  color: #314790;
  font-weight: 700;
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}
.information span {
  color: #314790;
  font-size: 20px;
}
/* RESPONSIVE */
/* TABLET */
@media only screen and (max-width: 1024px) {
  .banner {
    background-size: contain;
  }
  .imgBanner img {
    object-fit: cover;
    width: 200px;
    height: auto;
  }
}

/* PHONE */
@media only screen and (max-width: 768px) {
  .banner {
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    border-radius: 9px;
    height: 149px;
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  .information h2 {
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .information span {
    font-size: 12px;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
  }
  .subtitle {
    margin-top: 0.5rem !important;
  }
  .imgBanner img {
    object-fit: cover;
    width: 150px;
    height: auto;
  }
}

@media only screen and (max-width: 560px) {
  .banner {
    background-image: url("/img/1.gif") !important;
    background-size: contain;
    background-position: center;
  }
}
